body
{
	line-height: 1.6em;
	font-family: "Helvetica Neue", "Helvetica", Sans-Serif;
}

h2
{
	border-bottom: 10px solid rgb(220,238,238);
	color: #FFFFFF;
	background: #000000;
	padding: 8px;
}

h3
{
	color: #444444;
}

#detail-table
{
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
}

#detail-table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #000000;
	border-bottom: 1px solid #fff;
	color: #FFFFFF;
	font-weight: bold;
}

#detail-table td
{
	padding: 8px;
	background: #eeeeee; 
	border-bottom: 1px solid #fff;
	color: #444444;
	border-top: 1px solid transparent;
}

#detail-table tr:hover td
{
	background: rgb(220,238,238);
	color: #000000;
}

#date-table
{
	font-size: 12px;
	margin-bottom: 45px;
	margin-top: 20px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #000000;
	border-bottom: 7px solid #000000;
}

#date-table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #cccccc;
	color: #ffffff;
	font-weight: bold;
}

#date-table td
{
	padding: 8px;
	background: #eeeeee; 
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	color: #444444;
}

table.chart-table
{
	border-collapse: collapse;
}

td.chart-table-td
{
	color: #444444;
	vertical-align: bottom;
	text-align: center;
	background: #eeeeee;
	font-size: smaller;
}

div.chart-table-column
{
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
